html {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  font-size: 18px;
  padding: 2%;
  text-align: center;
}

body {
  background-color: lightcyan;
}

header h1 {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 4rem;
  font-weight: bold;
}

a {
  color: crimson;
  text-decoration: none;
}

a:visited {
  color: crimson;
}

a:hover {
  background-color: slategray;
  color: lightcoral;
  text-decoration: underline;
}

a:active {
  background-color: white;
}

.container-fluid h2:first-of-type {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5rem;
}

ul {
  font-style: italic;
  padding-bottom: 20px;
  text-align: left;
}

table.table {
  border: 1px solid black;
  margin: 0 auto 10px;
  width: 95%;
  text-align: center;
}

.table-responsive {
  border: none;
}

th {
  text-align: center;
}

thead {
  background-color:slategray;
  color: white;
  text-align: center;
}

tbody {
  background-color:lightgray;
  font-style: italic;
  }
