
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}

header h1 {
  text-align: center;
  padding: 0px;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  position: relative;
}

/*nav {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-size: 2rem;
  padding: 20px;
  text-align: left;
}

a {
  text-decoration: underline;
  font-weight: none;
  padding: 10px;
}

a:link {
  color: Green;
}

a:visited {
  color: Red;
}

a:hover {
  text-decoration: none;
  color: #00c;
  font-weight: bold;
}

a:active {
  font-weight: bold;
  text-decoration: none;
}*/

footer {
  background: white;
 /* border-top: 2px solid black;*/
  font-size: 2;
  font-weight: bold;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0px;
}